<header>
  <nav>
      <ul>
          <img class="logo" src="../../../assets/logo.png" alt="logo">
          <li>
              Médico
              <ul>
                  <li>Lista</li>
                  <li>Crear</li>
              </ul>
          </li>
          <li>
              Paciente
              <ul>
                  <li>Lista</li>
                  <li>Crear</li>
              </ul>
          </li>
          <li>
              Citas
              <ul>
                  <li>Lista</li>
                  <li>Crear</li>
              </ul>
          </li>
      </ul>
  </nav>
</header>
