<app-headerpage></app-headerpage>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="container">
    <div class="content">
        <h2>Sobre esta Aplicación</h2>
        <p>La aplicación de gestión de citas está diseñada para mejorar la organización y gestión de citas médicas. Sus principales funcionalidades incluyen:</p>
        <ul>
            <li>Agendar citas para médicos y pacientes.</li>
            <li>Editar información de médicos y pacientes.</li>
            <li>Eliminar citas, médicos o pacientes según sea necesario.</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="card">
        <i class="fas fa-ambulance"></i>
        <h2>Médico</h2>
        <a href="#">Lista</a>
    </div>
    <div class="card">
        <i class="fas fa-user"></i>
        <h2>Paciente</h2>
        <a href="#">Lista</a>
    </div>
    <div class="card">
        <i class="fas fa-users"></i>
        <h2>Citas</h2>
        <a href="#">Lista</a>
    </div>
</div>